{block content}
	<h3>Přidej úkol</h3>
	<form action="">
		<input type="text">
		<button>Přidat</button>
	</form>
	<ul>
		{foreach $todos as $todo}
			<li>{$todo->title}</li>
		{/foreach}
	</ul>

{/block}